.DS_Store


# Visual Strudio
CPPGIT/arad4228/Src/*/*.vcxproj.user
CPPGIT/arad4228/.vc
CPPGIT/arad4228/Build/
CPPGIT/arad4228/Build/*
CPPGIT/arad4228/Output
CPPGIT/arad4228/Output*
CPPGIT/cppcore/
CPPGIT/cppcore/*